<!--
<div class="post-nav">
    <div class="pre-post">
        <div class="left-arrow"><i class="fas fa-chevron-left"></i></div>
        <div class="nav-title">
            {% unless page.previous.url %}
                記事がありません
            {% else %}
                <a href="{{ page.previous.url }}">{{ page.previous.title }}</a>
            {% endunless %}
        </div>
    </div>
    <div class="next-post">
        {% unless page.next.url %}
            記事がありません
        {% else %}
            <a href="{{ page.next.url }}">{{ page.next.title }}</a>
        {% endunless %}
    </div>
</div>
-->