
<div class="post-nav">
    <a class="pre-post {% unless page.previous %} is-invisible {% endunless %}" href="{{ page.previous.url }}">
        <div class="pre-arrow"><i class="fas fa-chevron-left"></i></div>
        <div class="pre-title">
            <div>Previous Post</div>
            <div><strong>{{ page.previous.title }}</strong></div>
        </div>
    </a>
    <a class="next-post {% unless page.next %} is-invisible {% endunless %}" href="{{ page.next.url }}">
       <div class="next-title">
            <div>Next Post</div>
            <div><strong>{{ page.next.title }}</strong></div>
        </div>
        <div class="next-arrow"><i class="fas fa-chevron-right"></i></div>
    </a>
</div>
