h2 {
    padding: 16px 16px 16px 10px;
    background-color: findLightColor($primary);
    border-left: 8px solid $primary;
}
  
h3 {
    padding: 6px 6px 6px 13px;
    border-bottom: dotted 1px $grey-light;
    border-left: 5px solid $primary;
}

h4 {
    &::before{
        content: "・";
    }
}

kbd {
    display: inline-block;
    vertical-align: text-top;
    margin: 0;
    padding: 0.2em 0.5em 0.2em 0.5em;
    font-family: $family-monospace;
    font-size: 92%;
    line-height: 1.0;
    color: #202020;
    background-color: #E0E0E0;
    border: 1px solid #606060;
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), 1px 1px 1px rgba(255, 255, 255, 0.3) inset;
    white-space: pre-wrap;
}

.post-list {
    li{
        list-style-type: none;
        a{
            font-weight: bold;
        }
        span{
            color: $grey;
        }
    }
}

pre {
    background-color: $body-background-color;
}

.hero-body {
    .title, .subtitle{
        text-shadow: 2px 2px 5px #000000;
    }
}

div.post-nav {
    display: flex;
    justify-content: space-between;
    .next-post{
        padding: 1em;
        margin: 1em;
        background-color: findLightColor($primary);
        border-radius: 5px;
        font-weight: bold;
    }
    .pre-post{
        padding: 1em;
        display: flex;
        margin: 1em;
        background-color: findLightColor($primary);
        border-radius: 5px;
        font-weight: bold;
    }
    .left-arrow{
        display: flex;
        background-color: $primary;
    }
    .next-post::after{
        content: '\f054';
        font-weight: 900;
        font-family: 'Font Awesome 5 Free';
    }
}

.content {
    a[data-ext="true"]::after{
        content: ' \f35d';
        font-weight: 900;
        font-family: 'Font Awesome 5 Free';
    }

    img.dropshadow {
        -webkit-filter:drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.4));
        -moz-filter:drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.4));
        -ms-filter:drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.4));
        filter:drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.4));
      }      

    table{
        width: initial;
    }
    
    .post-date {
        font-family: $family-monospace;
        font-size: $small-font-size;
        line-height: 1.2em;
    }

    pre{
        padding: 0.2em;
        &[data-title]::before{
            content: attr(data-title);
            margin: 0em 1.0em;
            padding: 0.4em 0.3em 0.2em;
            color: $white;
            background: $grey;
        }
    }

    blockquote{
        position: relative;
        padding-left: 45px;
        background-color: $white;
        border: 0px;
        box-shadow: 2px 2px 6px hsla(0, 0%, 80%, 1.00);
        &::before{
            content: url(/assets/img/quote.png);
            position: absolute;
            top: 10px;
            left: 10px;
        }
        cite{
            text-align: right;
            display: block;
            font-style: normal;
        }
    }
}

@mixin dl-mixin($char-color, $border-color, $bg-color, $content) {
    margin-left: 0.25em;
    margin-right: 0.25em;
    padding: 0.5em 1.5em 0.75em 1em;
    color: $char-color;
    border-left: 0.3em solid $border-color;
    background-color: $bg-color;
    border-radius: 3px;
    position: relative;
    box-shadow: 2px 2px 6px hsla(0, 0%, 80%, 1.00);
    > dt {
        font-weight: bold;
        font-style: normal;
        margin-top: inherit;
        padding-left: 1em;
        &::before {
            content: $content;
            font-size: 3em;
            font-weight: 900;
            font-family: 'Font Awesome 5 Free';
            color: $border-color;
            opacity: 0.3;
            position: absolute;
            margin-left: -0.5em;
            margin-top: -0.2em;
        }
    }
    > dd {
        margin-left: 1.5em;
        margin-bottom: 0;
        > ul {
            margin: 0 0 0 0.5em;
            padding-left: 0.5em;
        }
    }
}


dl.note {
    @include dl-mixin($grey-dark   , $grey    , $grey-lightest, '\f303');
}

dl.tip {
    @include dl-mixin($success-dark, $success , $success-light, '\f058');
}

dl.info{
    @include dl-mixin($info-dark   , $info    , $info-light   , '\f05a');
}

dl.warning{
    @include dl-mixin($warning-dark, #ffbc6b, $warning-light, '\f071');
}

dl.caution{
    @include dl-mixin($danger-dark , $danger  , $danger-light , '\f05e');
}
