h2 {
    padding: 16px 16px 16px 10px;
    background-color: findLightColor($primary);
    border-left: 8px solid $primary;
}
  
h3 {
    padding: 6px 6px 6px 13px;
    border-bottom: dotted 1px $grey-light;
    border-left: 5px solid $primary;
}

h4 {
    &::before{
        content: "・";
    }
}

kbd {
    display: inline-block;
    vertical-align: text-top;
    margin: 0;
    padding: 0.2em 0.5em 0.2em 0.5em;
    font-family: $family-monospace;
    font-size: 92%;
    line-height: 1.0;
    color: #202020;
    background-color: #E0E0E0;
    border: 1px solid #606060;
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), 1px 1px 1px rgba(255, 255, 255, 0.3) inset;
    white-space: pre-wrap;
}

.post-list {
    li{
        list-style-type: none;
        a{
            font-weight: bold;
        }
        span{
            color: $grey;
        }
    }
}

pre {
    background-color: $body-background-color;
}

.hero-body {
    .title, .subtitle{
        text-shadow: 2px 2px 5px #000000;
    }
}

.content {
    a[data-ext="true"]::after{
        content: ' \f35d';
        font-weight: 900;
        font-family: 'Font Awesome 5 Free';
    }

    img.dropshadow {
        -webkit-filter:drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.4));
        -moz-filter:drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.4));
        -ms-filter:drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.4));
        filter:drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.4));
      }      

    table{
        width: initial;
    }
    .post-date {
        font-family: $family-monospace;
        font-size: $small-font-size;
        line-height: 1.2em;
    }

    pre{
        padding: 0.2em;
        &[data-title]::before{
            content: attr(data-title);
            margin: 0em 1.0em;
            padding: 0.4em 0.3em 0.2em;
            color: $white;
            background: $grey;
        }
    }

    blockquote{
        position: relative;
        padding-left: 45px;
        background-color: $white;
        border: 0px;
        box-shadow: 2px 2px 6px hsla(0, 0%, 80%, 1.00);
        &::before{
            content: url(/assets/img/quote.png);
            position: absolute;
            top: 10px;
            left: 10px;
        }
        cite{
            text-align: right;
            display: block;
            font-style: normal;
        }
    }
}

@mixin dl-mixin($char-color, $border-color, $bg-color, $content) {
    margin-left: 0.25em;
    margin-right: 0.25em;
    padding: 0.5em 1.5em 0.75em 1em;
    font-size: smaller;
    color: $char-color;
    border-left: 0.25em solid $border-color;
    background-color: $bg-color;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.4);
    > dt {
        font-weight: bold;
        font-style: normal;
        margin-top: inherit;
        &::before {
            content: $content;
            font-size: 1.6em;
            font-weight: 900;
            font-family: 'Font Awesome 5 Free';
            color: $border-color;
            vertical-align: middle;
            margin-left: -0.25em;
            padding-right: 0.25em;
        }
        &:empty {
            display: none;
            + dd {
                margin: -0.2em -0.8em -0.6em -0.5em;
            }
        }
    }
    > dd {
        margin-left: 0.5em;
        margin-bottom: 0;
        &::after {
            content: ' ';
        }
        > ul {
            margin: 0 0 0 0.5em;
            padding-left: 0.5em;
            > li::after {
                content: ' ';
            }
        }
    }
}

dl.note {
    @include dl-mixin(#4d4d4d, #9E9E9E, #F4F4F4, '\f15c');
}
dl.tip {
    @include dl-mixin(#12803e, #1DCD63, #E9F8EE, '\f058');
}
dl.info{
    @include dl-mixin(#006f80, #00B8D4, #E8F7FA, '\f05a');
}
dl.warning{
    @include dl-mixin(#b36602, #FF9001, #FEF3E8, '\f071');
}
dl.caution{
    @include dl-mixin(#b3003e, #F50057, #FEE7EE, '\f05e');
}
