---
layout: default
---

<div class="content">

    <p class="post-date">
      <!-- 投稿日、更新日フォーマット変更 -->
      投稿日: {{ page.date | date_to_xmlschema | date: "%Y年%m月%d日 %H:%M %Z" }}
      {%- if page.modified -%}
        <br>更新日: {{ page.modified | date_to_xmlschema | date: "%Y年%m月%d日 %H:%M %Z" }}
      {%- endif -%}
    </p>
    <!-- タグ表示位置変更 -->
    <div class="tags">
      {% for tag in page.tags %}
        {% include tag.html tag=tag style="is-info is-light is-medium"%}
      {% endfor %}
    </div>
  
    {% if page.series %}
        {% include series.html %}
    {% endif %}

    {{ content }}
</div>

{% unless site.hide_share_buttons %}
{% include share-buttons.html %}
{% endunless %}

{% if site.disqus.shortname %}
  {% include disqus.html %}
{% endif %}
